@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<%@Page Language="C#" CodeFile="this"%>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
<br>
<div class="row col-md-6">
    <p>Nastavi si izbor vremenskih postaj.</p>
    <form method="post" runat="server">
    @using web.Services.GetDataService;
        @foreach(WeatherStation station in GetDataService.ws){
            @if(station != null){
                <input type="checkbox" id="@station.MeteoId" name="vremenskaPostaja" value="@station.MeteoId">
                <label for="@station.MeteoId"> @station.Name</label><br>
            }
        }
        <button id="izbor-postaj-form" type="submit" value="" class="w-100 btn btn-lg btn-primary">Save</button>
        <asp:TextBox id="placeholder" runat="server" name="placeholder"/>
        
    </form>
</div>
<script runat="server">  
document.getElementById('izbor-postaj-form').onclick = function() {  
  var markedCheckbox = document.getElementsByName('vremenskaPostaja');  
  const postaje = [];
  var i = 0;
  for (var checkbox of markedCheckbox) {  
    if (checkbox.checked){
      //document.body.append(checkbox.value + ' ');
      postaje[i] = checkbox.value;
      document.getElementById("placeholder").value += checkbox.value + " ";
    }
  }
}  
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
